@import url('https://fonts.googleapis.com/css?family=Audiowide:wght@400;500;600;700&display=swap', 'https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700&display=swap');
h1 {
        font-family: Audiowide, sans-serif;
        color: black;
        font-size: 40px;
    }

    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 64px;
        height: 64px;
        margin: auto;
        border: 1px groove grey;
        border-radius: 6px;
        font-size: 36px;
        text-align: center;
    }
 
    #but {
        box-sizing: border-box;
        width: 120px;
        height: 60px;
        border: 1px groove black;
        margin: auto;
        border-radius: 4px;
        font-family: Audiowide, sans-serif;
 
        background-color: white;
        color: black;
        font-size: 16px;
        cursor: pointer;
    }
 
    #print {
        font-family: Audiowide, sans-serif;
 
        color: black;
        font-size: 20px;
    }
 
    #main {
        text-align: center;
    }

    #ins {
        font-family: Merriweather, serif;
             
        color: black;
        font-size: 16px;
    }
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
