@import url('https://fonts.googleapis.com/css?family=Audiowide:wght@400;500;600;700&display=swap');
<style>
h1 {
        color: black;
        font-size: 40px;
    }

    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
 
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid dodgerblue;
        margin: auto;
        border-radius: 4px;
        font-family: Audiowide, sans-serif;
 
        background-color: dodgerblue;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
 
    #print {
        font-family: Audiowide, sans-serif;
 
        color: dodgerblue;
        font-size: 20px;
    }
 
    #main {
        text-align: center;
    }

    #ins {
        font-family: Audiowide, sans-serif;
             
        color: dodgerblue;
        font-size: 17px;
    }
</style>
