.reset {
  text-align:center;
}

#reset {
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 35px;
  font-size: 17px;
  transition: all 0.1s ease-in-out;
}

#reset:hover {
  color: white;
  background-color: black;
}
