@import url('https://fonts.googleapis.com/css?family=Audiowide:wght@400;500;600;700&display=swap', 'https://fonts.googleapis.com/css2?family=Merriweather:wght@400;500;600;700&display=swap');
<style>
h1 {
        font-family: Audiowide, sans-serif;
        color: black;
        font-size: 40px;
    }

    #b1, #b2, #b3, #b4, #b5,
    #b6, #b7, #b8, #b9 {
        width: 64px;
        height: 64px;
        margin: auto;
        border: 1px groove grey;
        border-radius: 6px;
        font-size: 36px;
        text-align: center;
    }
 
    #but {
        box-sizing: border-box;
        width: 120px;
        height: 60px;
        border: 1px groove black;
        margin: auto;
        border-radius: 4px;
        font-family: Audiowide, sans-serif;
 
        background-color: lime;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
 
    #print {
        font-family: Audiowide, sans-serif;
 
        color: black;
        font-size: 20px;
    }
 
    #main {
        text-align: center;
    }

    #ins {
        font-family: Merriweather, serif;
             
        color: black;
        font-size: 16px;
    }
</style>
